html{
    font-size: 62.5%;
    font-family: sans-serif;
    color: rgb(61, 0, 0);
}


header {
    background: rgb(187, 13, 13);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main {
    background: rgb(187, 13, 13);
    color: white;
    font-size: 3rem;

}


.services {
    background: rgba(255, 180, 180);

}